<center>
  <table style="align:left;">
    <% @q[:response_choices].each_with_index do |choice, i| %>
    <tr>
      <td valign="top"><input type="radio" value="<%= choice %>" id="choice_<%= i %>" name="response" class="kapcha_control" style="<%= 'display:none;' if @s.hide_controls_initially?(@q) %>" /></td>
      <td><label for="choice_<%= i %>"><%= kapcha_tokenize(choice, @use_kapcha) %></label></td>
    </tr>
    <% end %>
  </table>
</center>
<br />
<input 
  type="button"
  value=" <%= @q[:submit_text] || Survey::DefaultSubmitText %> "
  onclick="SubmitSurvey();"
  class="kapcha_control"
  id="kapcha_submit_button"
  <% if @s.disable_continue_button_initially?(@q) %>disabled="true"<% end %>
  style="<%= 'display:none;' if @s.hide_controls_initially?(@q) %>" />
<%= render :partial => 'surveyor_responses/kapcha_spinner_for_time' %>
  
<script type="text/javascript">
  function SubmitSurvey(){
    $$('input[type = radio]').each(function(checkbox){
      if (checkbox.checked){ //since only one can be checked anyway, we can be lazy here...
        $('response_form_text').value = encodeURIComponent(checkbox.value);
      }
    });
    //make sure they answered the question
    if ($('response_form_text').value == ''){
      alert('You must fill in an answer.');
    }
    else {
      $('response_form').submit();
    }
  }
</script>